@import "tailwindcss";

::-webkit-scrollbar {
  width: 6px; /* Very thin */
}

::-webkit-scrollbar-track {
  background: transparent; /* Makes the track invisible */
}

::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* slate-300 */
  border-radius: 20px;
  border: 1px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6366f1; /* indigo-500 on hover */
}